*,
*::before,
*::after {
  box-sizing: border-box;
}
body {
  background-color: #222;
  width: 100vw;
  height: 100vh;
  overflow-x: hidden;
}
.game-board {
  width: min(70rem, 80%);
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(
    var(--grid-size),
    calc(var(--circle-size) * 0.75)
  );
  grid-template-rows: repeat(var(--grid-size), calc(var(--circle-size) * 0.75));
  position: relative;
  place-content: center;
}
.circle {
  width: 10rem;
  aspect-ratio: 1/1;
  border-radius: 50%;
  position: relative;
  font-size: 3rem;
  color: black;
  text-align: center;

  display: grid;
  place-items: center;
  /* outline: 5px solid darkgreen; */
}

.circle:hover {
  cursor: pointer;
}

.bol::after {
  content: "";
  display: block;
  position: absolute;
  width: 10rem;
  height: 10rem;
  border-radius: 50%;
  background-color: #222;
}

.has-notch-bottom::after {
  bottom: -70%;
  left: 0%;
}

.has-notch-left::after {
  bottom: 0%;
  left: -70%;
}

.has-notch-top::after {
  top: -70%;
  left: 0%;
  z-index: -1;
}

.has-notch-right::after {
  bottom: 0%;
  right: -70%;
}

svg {
  width: 10rem;
  position: relative;
  z-index: -5;
}
svg g {
  fill: green;
  width: 10rem;
  height: 10rem;
  z-index: -5;
}

.circle:nth-child(4):after {
  content: "";
  position: absolute;
  height: 3rem;
  width: 6rem;
  z-index: 9999;
  right: 25%;
  top: 0;

  border-radius: 50%;
  background-color: blue;
}
