*,
*::before,
*::after {
  box-sizing: border-box;
}
body {
  background-color: white;
  width: 100vw;
  height: 100vh;
  overflow-x: hidden;
}
.game-board {
  width: min(45rem, 80%);
  margin: 0;
  display: grid;
  grid-template-columns: repeat(
    var(--grid-size),
    calc(var(--circle-size) * 0.75)
  );
  grid-template-rows: repeat(var(--grid-size), calc(var(--circle-size) * 0.75));
  position: relative;
  place-content: center;
  background-color: #28a54a;
  border-radius: 30px;
  border: #ffe284 0.5rem solid;
  align-items: center;
}
.circle {
  width: 10rem;
  aspect-ratio: 1/1;
  border-radius: 50%;
  position: relative;
  font-size: 3rem;
  color: black;
  text-align: center;

  display: grid;
  place-items: center;
  /* outline: 5px solid darkgreen; */
}
.circle:hover {
  cursor: pointer;
}

.bol::after {
  content: "";
  display: block;
  position: absolute;
  width: 10rem;
  height: 10rem;
  border-radius: 50%;
  background-color: #28a54a;
}

.has-notch-bottom::after {
  bottom: -70%;
  left: 0%;
}

.has-notch-left::after {
  bottom: 0%;
  left: -70%;
}

.has-notch-top::after {
  top: -70%;
  left: 0%;
  z-index: -1;
}

.has-notch-right::after {
  bottom: 0%;
  right: -70%;
}

svg {
  width: 10rem;
  position: relative;
  z-index: -5;
}
svg g {
  fill: green;
  width: 10rem;
  height: 10rem;
  z-index: -5;
}

/* .circle::after {
  content: "";
  position: absolute;
  bottom: 0;
  right: 20%;
  width: 6rem;
  height: 2.3rem;
  opacity: 1;
  background-color: blue;
  border-radius: 50%;
  transform-origin: center;
  transition: all 1s ease;
} */
.type-1::after {
  content: "";
  position: absolute;
  bottom: 0;
  right: 20%;
  width: 6rem;
  height: 2.3rem;
  opacity: 1;
  background-color: blue;
  border-radius: 50%;
  transform-origin: center;
  transition: all 1s ease;
}
.type-2::after {
  content: "";
  position: absolute;
  bottom: 17.5%;
  right: 0%;
  width: 2.3rem;
  height: 6rem;
  opacity: 1;
  background-color: blue;
  border-radius: 50%;
  transform-origin: center;
  transition: all 1s ease;
}
.hidden-after::after {
  display: none;
}
