
html{
    overflow: hidden;
}

/* MAIN */
main{
    background-color: var(--green);
}
body {
    margin: auto;
}

main .container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 5rem);
}

a.button-max {
    text-decoration: none;
    font-family: 'Lilita One', cursive;
    font-weight: bold;
    text-transform: uppercase;

}

img{
    pointer-events: none;
}

main {
    background-color: #28a44a;
}

.bg{
    width: 100%;
    position: absolute;
}

.options {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 20%;
    width: 100%
}

.button-max, .button-average {
    background: linear-gradient(180deg, #FFF1C9 0%, rgba(255, 241, 201, 0.85) 100%);
    display: block;
    color: #fdb200;
    padding-top: .1em;
    padding-bottom: .1em;
    width: 7em;
    border-radius: .5em;
    margin: .1em;
    text-align: center;
    font-size: 90px;
    font-weight: 900;
    text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    position: relative;
}

.button-average{
    font-size: 3rem;
    margin: 4rem auto 0 auto ;
}

ul li{
    list-style-type: none;
}

.button-max:hover, .button-average:hover {
    background: linear-gradient(180deg, #e1d6b1 0%, rgba(239, 222, 174, 0.85) 100%);

}

.dier1, .dier2, .dier3{
    width: 150px;
    position: absolute;
    z-index: 1;
}

.dier1{
    transform: translateX(125px) translateY(50px);
}

.dier2{
    transform: translateX(86px) translateY(46px);
}

.dier3{
    transform: translateX(50px) translateY(46px);
}

.boom, .boom1, .boom2{
    width: 250px;
    z-index: 1;
    position: absolute;
}

.play img.boom1{
    transform: translateX(-130px) translateY(-250px);

}


.Levels img.boom{
    transform: translateX(570px) translateY(-150px);

}

.Rules img.boom{
    transform: translateX(-130px) translateY(-150px);
}

